
<!DOCTYPE html>
<html>
<head>
    <title>Full Screen Leaflet Map</title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js">
    </script>

    <script>
        var map = L.map('map').setView([37.774546, -122.433523], 13);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);
        var heat = L.heatLayer([
             {% for vehicle in vehicles %}
                [{{ vehicle.lat }}, {{ vehicle.lon }}, 10]
                    {% if not loop.last %}
                ,
             {% endif %}

              // ...
             {% endfor %}

        ], {radius: 25}).addTo(map);

    </script>
</body>
</html>
<!--
 {% for vehicle in vehicles %}
    new google.maps.LatLng({{ vehicle.lat }}, {{ vehicle.lon }})
        {% if not loop.last %}
    ,
    {% endif %}

  // ...
    {% endfor %}
-->